.logo{
    height: 50px;
    display: block;
    margin: 30px auto;
}
.header nav{
    background-color: rgb(15, 15, 17);;
    line-height: 50px;
    text-align: center;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin: 0px 12px;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    padding: 0px 8px;
}
.header nav a:hover{
    background-color: rgb(35, 35, 36);
}